[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Joseph O'Brien
	email = 98370624+89jobrien@users.noreply.github.com
	signingkey = /Users/joe/.ssh/id_ed25519_signing

[core]
	editor = vim
	autocrlf = input

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true
	default = current

[fetch]
	prune = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --

[color]
	ui = auto

[gpg]
	format = ssh

[gpg "ssh"]
	signingKey = /Users/joe/.ssh/id_ed25519_signing

[commit]
	gpgsign = true

[gitflow "feature.finish"]
	no-ff = true
	keep = false
	fetch = true

[gitflow "release.finish"]
	no-ff = true
	tag = true
	keep = false
	fetch = true

[gitflow "hotfix.finish"]
	no-ff = true
	tag = true
	keep = false
	fetch = true

[gitflow "chore.finish"]
	no-ff = true
	keep = false
	fetch = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
